 
$color-white: #ffffff;
$color-black: #1b1a1a;
$color-text: #403e3b;
$color-muted: #645c55;
$color-bg-light: #f7f7f7;
$color-bg-accent: #cec4bc;
$shadow-header: 11px 11px 25px 0px rgba(9, 7, 37, 0.06);

$radius-md: 12px;
$radius-lg: 14px;

$space-0: 0px;
$space-1: 10px;
$space-2: 11px;
$space-3: 20px;
$space-4: 33px;
$space-5: 40px;
$container-padding-x: 146px;